h1 {margin-top: 50px; color: Black; font-size: 80px; text-align: center;}
h2 {margin-left: 30px;}
label {
    display: inline-block;
    width:100px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 20px;
    color: aliceblue;
}
input {text-align: left;}
form {text-align: center;}
p {text-align: center;}
p.parent{
    border-radius: 25px;
    color: black;
}
body {
    border-radius: 25px;
    color: aquamarine;
}
.login{
    position: relative;
    margin: 30px auto;
    padding: 20px 20px 20px;
    width: 310px;
    background: rgb(153, 138, 236);
    border-radius: 3px;
}
