{% extends "admin_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
<!-- Each option will direct the user to corresponded page via http link -->
<li><a href="/admin/dashboard">Dashboard:</a></li>
<li><a href="/admin/configuration"><b>Configuration:</b></a></li>
<li><a href="/admin/settings">Setting:</a></li>
<li><a href="/admin/add_users">Add users:</a></li>
<li><a href="/admin/help">Help:</a></li>
</ul>
{% endblock %}

{% block content %}
    <div class="content configuration">                
        <p class="header">
            <b>Configuration</b>
        </p>
        <form action="/config" method="POST" class="configBox">
            <label for="vpnprotocal">VPN protocol:</label>
            <input id="vpnprotocal" type="text" name="VPN protocol"><br/>
            <label for="Hostname">Hostname:</label>
            <input id="Hostname" type="text" name="Hostname"><br/>
       
            <label for="username">Username:</label>
            <input id="username" type="text" name="Username"><br/>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password"><br/>
            
       
            <input class= "buttonSubmit" type="submit" value="Apply">
        </form>
        <form action="/2fa" method="GET">
            <button type="submit" class="FAbutton">
                Enable 2FA Authenticator
            </button>
        </form>
        
        <!-- The below parts are just used to show the menu bar function. Can be edeleted -->
        <!-- <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p> -->
    </div>
    
</body>
</html>
{% endblock %}