{% extends "admin_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
            <!-- Each option will direct the user to corresponded page via http link -->
            <li><a href="/admin/dashboard">Dashboard:</a></li>
            <li><a href="/admin/configuration">Configuration:</a></li>
            <li><a href="/admin/settings">Setting:</a></li>
            <li><a href="/admin/add_users"><b>Add users:</b></a></li>
            <li><a href="/admin/help">Help:</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="content add_users">                
        <p class="header">
            <b>Manage Users</b>
        </p>
        {% if error %}
            <p style="color:red" class=error> <strong>Error: </strong> {{ error }}
        {% endif %}
        <div class="manage_user_box">
            <div class="users_box" style="background-color: rgb(70, 245, 35);"> 
                <p class="box_title">Added Users</p>
                <!-- Maximum display 9 users. User can use "search" to find other users. This function will be added later -->
                <!-- The below part show be hosted using dynamic method. -->
                {{loop_added_user}}
                <form action="/adduser/remove/{{addedUser}}" method="POST" class="user_box_form">
                    <div class="user_box">
                        <big class="">addedUser</big>
                        <button class="fa-solid fa-xmark x_button">
                        </button>
                    </div>
                    
                </form>
                {{end_loop_added_user}}
                <!-- This is just a example showing what it looks like when we have multiple added users -->
                
                <form action="/adduser" method="POST" class="user_form" style="margin:auto; width:auto;">
                    <H2 style="text-align: center;">Add User</H2>
                    <label for="username" style="margin-left: 0%;">Username: </label>
                    <input type="text" name="username" id="username" style="margin-left:0%;" class="searchBox"><br>
                    <label for="password" style="margin-left: 0%;">Password:</label>
                    <input type="password" name="password" id="password" class="searchBox"><br>
                    <div class="wrapper" style="text-align: center;">
                    <button value="add" style="text-align: center;">Add</button><br>
                    </div>
                </form>  
                <!-- <form action="/{{username}}" method="GET" class="">
                    <label for="search">Search:</label>
                    <input id="search" type="text" name="search"><br/>

                </form> -->
            </div>
            
            <div class="users_box" style="background-color: rgb(236, 91, 171);">
                <p class="box_title">Blocked Users</p>
                <!--{{loop_blocked_user}} -->
                <form action="/block/remove/{{blockedUser}}" method="POST" class="user_box_form">
                    <div class="user_box">
                        <big class="">blockeduser</big>
                        <button class="fa-solid fa-xmark x_button">
                        </button>
                    </div>
                    
                </form>
                <!--{{end_loop_blocked_user}}-->

                <form action="/blockuser" method="POST" class="user_form" style="margin:auto; width:auto;">
                    <label for="blockuser">Block User: </label>
                    <input type="text" name="blockuser" id="blockuser">
                    <div class="wrapper" style="text-align:center;">
                    <button value="Search">Block</button><br>
                    </div>
                </form>   
                <br>
                {% if blist != [] %}
                <form action="/unblockuser" method="POST" class="user_form" style="margin:auto; width:auto;">
                    <div class="wrapper" style="text-align:center;">
                    <select name ="unblockuser">
                        {% for unblockuser in blist %}
                            <option value= "{{unblockuser}}">{{unblockuser}}</option> 
                        {% endfor %}
                    </select>
                    <input type="submit" value="Unblock" class="submitButton">
                    </div>
                </form>
                {% endif %}
                <!--<form action="/unblockuser" method="POST" class="user_form" style="margin:auto; width:auto;">
                    <label for="unblockuser">Unblock User: </label>
                    <input type="text" name="unblockuser" id="blockuser">
                    <div class="wrapper" style="text-align:center;">
                    <button value="Search">Unblock</button><br>
                    </div>
                </form>  -->
            </div>
        </div>
    </div>
    
    
</body>
</html>
{% endblock %}