{% extends "admin_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
            <!-- Each option will direct the user to corresponded page via http link -->
            <li><a href="/admin/dashboard">Dashboard:</a></li>
            <li><a href="/admin/configuration">Configuration:</a></li>
            <li><a href="/admin/settings">Setting:</a></li>
            <li><a href="/admin/add_users"><b>Add users:</b></a></li>
            <li><a href="/admin/help">Help:</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="content add_users">                
        <p class="header">
            <b>Manage Users</b>
        </p>
        <div class="manage_user_box">
            <div class="users_box" style="background-color: rgb(70, 245, 35);"> 
                <p class="box_title">Added Users</p>
                <!-- Maximum display 9 users. User can use "search" to find other users. This function will be added later -->
                <!-- The below part show be hosted using dynamic method. -->
                {{loop_added_user}}
                <form action="/{{username}}" method="GET" class="user_form">
                    <button class="user_box">
                        User1
                    </button>
                </form>
                {{end_loop_added_user}}
                <!-- This is just a example showing what it looks like when we have multiple added users -->
                <form action="/{{username}}" method="GET" class="user_form">
                    <button class="user_box button">
                        User2
                    </button>
                </form>
                <form action="/{{username}}" method="GET" class="user_form">
                    <button class="user_box button">
                        User2
                    </button>
                </form>
                <form action="/{{username}}" method="GET" class="user_form">
                    <button class="user_box button">
                        User2
                    </button>
                </form>
                <form action="/adduser" method="POST" class="user_form" style="margin:auto; width:auto;">
                    <H2 style="text-align: center;">Add User</H2>
                    <label for="username" style="margin-left: 0%;">Username</label>
                    <input type="text" name="username" id="username" style="margin-left:0%;">
                    <label for="password" style="margin-left: 0%;">Password</label>
                    <input type="password" name="password" id="password"><br>
                    <div class="wrapper" style="text-align: center;">
                    <button value="add" style="text-align: center;">Add</button><br>
                    </div>
                </form>  
                <!-- <form action="/{{username}}" method="GET" class="">
                    <label for="search">Search:</label>
                    <input id="search" type="text" name="search"><br/>

                </form> -->
            </div>
            
            <div class="users_box" style="background-color: rgb(236, 91, 171);">
                <p class="box_title">Blocked Users</p>
                <!--{{loop_blocked_user}} -->
                <form action="/{{username}}" method="GET" class="user_form">
                    <button class="user_box button">
                        User2
                    </button>
                </form>
                <!--{{end_loop_blocked_user}}-->
                <!-- This is just a example showing what it looks like when we have multiple added users -->
                <form action="/{{username}}" method="GET" class="user_form">
                    <button class="user_box button">
                        User2
                    </button>
                </form>
                <form action="/{{username}}" method="GET" class="user_form">
                    <button class="user_box button">
                        User2
                    </button>
                </form>
                <form action="/blockuser" method="POST" class="user_form" style="margin:auto; width:auto;">
                    <label for="blockuser">Block User: </label>
                    <input type="text" name="blockuser" id="blockuser">
                    <div class="wrapper" style="text-align:center;">
                    <button value="Search">Block</button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
</body>
</html>
{% endblock %}