{% extends "admin_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
            <!-- Each option will direct the user to corresponded page via http link -->
            <li><a href="/admin/dashboard">Dashboard:</a></li>
            <li><a href="/admin/configuration">Configuration:</a></li>
            <li><a href="/admin/settings">Setting:</a></li>
            <li><a href="/admin/add_users">Add users:</a></li>
            <li><a href="/admin/help"><b>Help:</b></a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <p style="text-align: center;">
            Help
        </p>
        <p>Helpful information will Go here</p>
        <!-- The below parts are just used to show the menu bar function. Can be edeleted -->
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
    </div>
    
</body>
</html>
{% endblock %}