{% extends "admin_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
            <!-- Each option will direct the user to corresponded page via http link -->
            <li><a href="/admin/dashboard">Dashboard:</a></li>
            <li><a href="/admin/configuration">Configuration:</a></li>
            <li><a href="/admin/settings"><b>Setting:</b></a></li>
            <li><a href="/admin/add_users">Add users:</a></li>
            <li><a href="/admin/help">Help:</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="configuration" style="background-color: blueviolet;">
            <!-- <button class="button">
                <span>button</span>
                <div class="liquid">Starts</div>
            </button> -->
            <p>

            </p>
        </div>
        <div class="dataUsage" style="background-color: rgb(88, 11, 230);">
            <img src="#" alt="Data Usage" title="Data Usage">
        </div>
        <p style="text-align: center;">
            Configuration
        </p>
        <p>{{ information }}</p>
        <!-- The below parts are just used to show the menu bar function. Can be edeleted -->
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
    </div>
    
</body>
</html>
{% endblock %}