<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <!-- Change this to the title you want -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href={{ url_for("static", filename="setup.css") }}>
</head>
<body style="background-image: url({{ url_for('static', filename='cool-background.png') }});">
    <!-- If you wanna change the top's background color, change the "background-color" in CSS -->
    <h1>
        <!-- Change our icon "#" here. You must have a picture first. A sample path is "/myImages/myIcon.png" -->
        <img src="#" alt="My icon" class="icon" title="Wirguard Icon">
        <span class="title">{{Username}}</span>
        <br>
        <!-- <span class="title">This black background is used for test</span> -->
    </h1>
    <!-- style="background-color: rgb(223, 18, 18);" this is used for test -->
    <div class="menuBar"> 
        <ul class="menuBar">
            <!-- Each option will direct the user to corresponded page via http link -->
            <li><a href="/admin/dashboard">Dashboard:</a></li>
            <li><a href="/admin/configuration"><b>Configuration:</b></a></li>
            <li><a href="/admin/settings">Setting:</a></li>
            <li><a href="/admin/add_users">Add users:</a></li>
            <li><a href="/admin/help">Help:</a></li>
        </ul>
        

    </div>
    <div class="content configuration">                
        <p class="header">
            <b>Configuration</b>
        </p>
        <form action="/config" method="POST" class="configBox">
            <label for="vpnprotocal">VPN protocol:</label>
            <input id="vpnprotocal" name="VPN protocol" list="protocols"><br/>
            <datalist id="protocols">
                <option value="wireguard">
            </datalist>
            <label for="Hostname" value="test">Hostname:</label>
            <input id="Hostname" type="text" name="Hostname"><br/>
       
            <label for="username">Username:</label>
            <input id="username" type="text" name="Username"><br/>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password"><br/>
            
       
            <input class= "buttonSubmit" type="submit" value="Apply">
        </form>
        <form action="/2fa" method="GET">
            <button type="submit" class="FAbutton">
                Enable 2FA Authenticator
            </button>
        </form>
        
        <!-- The below parts are just used to show the menu bar function. Can be edeleted -->
        <!-- <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p> -->
    </div>
    
</body>
</html>