{% extends "admin_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
            <!-- Each option will direct the user to corresponded page via http link -->
            <li><a href="/admin/dashboard">Dashboard:</a></li>
            <li><a href="/admin/configuration">Configuration:</a></li>
            <li><a href="/admin/settings">Setting:</a></li>
            <li><a href="/admin/add_users">Add users:</a></li>
            <li><a href="/admin/help"><b>Help:</b></a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <p style="text-align: center;">
            Help
        </p>
        <ul style="text-align: left;">
            <li>
                <a href="#configuration"><b>How to set up my server: </b></a>
            </li>
            <li>
                <a href="#adduser"><b>How to add a user: </b></a>
            </li>
            <li>
                <a href="#blockuser"><b>How to block a user: </b></a>
            </li>
        </ul><hr>
        <div>
            <div>
                <h1 id="configuration">How to set up my server</h>
                <p class="text_body">The start button located on the dashboard page will direct you to configuration page, where
                     you can configure your setting.
                </p>
                <div class="example">
                    <img src="../static/example_start_button.png">
                </div>
                <p class="text_body">
                    On the configuration page, follow the steps below to setup your configuration.
                </p>
                <i>Step 1:</i>
                <p class="text_body">
                    Click the down arrow right beside the VPN protocol input box and select "wireguard"
                </p>
                <div class="example">
                    <img src="../static/example_vpn_protocol.png">
                </div>
                <i>Step 2:</i>
                <p class="text_body">
                    Create a hostname in your favor. This hostname will be displayed as the name of server.
                </p>
                <i>Step 3:</i>
                <p class="text_body">
                    Create a username and password for your self. You will need them to login your admin page.
                </p>
                <p style="text-align: left;">You're done!</p>
            </div><hr>
            <div>
                <h1 id="adduser">How to add a user:</h1>
                <p class="text_body">Navigate to "add users" page. You will see all the added users and blocked users</p>
                <div class="example">
                    <img src="../static/example_add_user_page.png" style="width: 75%;">
                </div>
                <p class="text_body">Enter the username and password in your decision. 
                    The server will create a user who can connect to your server.
                </p>
                <div class="example">
                    <img src="../static/example_add_user.png">
                </div>
            </div><hr>
            <div>
                <h1 id="blockuser">How to block a user:</h1>
                <p class="text_body">Enter the username of the user you want to block. 
                    The server will block and kick the user from your server. And he
                    can't join the server again.
                </p>
                <div class="example">
                    <img src="../static/example_block_user.png">
                </div>
            </div>
            <br><br>
        </div>
    </div>
    
</body>
</html>
{% endblock %}