{% extends "admin_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
            <!-- Each option will direct the user to corresponded page via http link -->
            <li><a href="/user/dashboard">Dashboard:</a></li>
            <li><a href="/user/settings">Setting:</a></li>
            <li><a href="/user/help"><b>Help:</b></a></li>
{% endblock %}

{% block content %}
    <div class="content">
        <p style="text-align: center;">
            Help
        </p>
            <div>
                <h1 id="connectuser" >How to Connect to the wireguard server:</h1>
                <i>Step 1:</i>
                <p class="test_body" >
                    To connect as a user first go to <a href="https://www.wireguard.com/install/">Wireguards Website</a> and install the correct client for your operating system. Please note this guide will go over how to do it in windows, please refer to the documentation on how to do it for other operating systems.
                </p>
                <i>Step 2:</i>
                <p class="test_body" >
                    Create a new text file (the name of the text file should contain no spaces or special characters) and copy and paste the information in the collapsible below into the text file. Please note that you have to change &ltserver ip&gt to the actual server ip address otherwise you will not be able to connect.<br>
                    <button type="button" id="collapsible">click to display configuration file</button>
                    <div id="config" style="display: none; overflow: hidden; border:1px solid black">
                        <p>
                            [Interface]<br>
                            PrivateKey = {{ private_key }}<br>
                            Address = {{ ipaddrs }}<br><br>
                            [Peer]<br>
                            PublicKey = {{ server_public }}<br>
                            AllowedIPs = 0.0.0.0/0<br>
                            Endpoint = &ltserver ip&gt:51820<br>
                            PersistentKeepalive = 25<br>
                        </p>
                    </div>
                    <script>
                     document.getElementById("collapsible").addEventListener("click", function() {
                         if (document.getElementById("config").style.display === "block") {
                             document.getElementById("config").style.display = "none";
                         }
                         else {
                             document.getElementById("config").style.display = "block";
                         }
                     })
                    </script>
                </p>
                <i>Step 3:</i>
                <p>Change the file extension from .txt to .conf otherwise you will not be able to import the file later</p>
                <i>Step 4:</i>
                <p>
                    You should now import the configuration file. <br>
                        <dl>
                            <dt>Step 1:</dt>
                            <dd>Open the wireguard application</dd>
                            <dt>Step 2:</dt>
                            <dd>click on Add Tunnel at the bottom left corner</dd>
                            <dt>Step 3:</dt>
                            <dd>Navigate to file and click import</dd>
                        </dl>
                </p>
                <i>Step 5:</i>
                <p>
                    To activate the tunnel you should click on the name of the tunnel on the left hand side. Then you should click on the activate button under the Interface:&ltname&gt on the right hand side
                </p>
            </div>
            <div>
                <h1 id="blocked">Why can't I join the server: </h1>
                <p class="text_body">If you can't join the server, it's probably the server admin banned you
                    from joining the server. You can ask your admin if he can remove you from being blocked.
                </p>
            </div>
            <br><br>
        </div>
    </div>
</body>
</html>
{% endblock %}
