{% extends "users_page/user_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
<!-- Each option will direct the user to corresponded page via http link -->
<li><a href="/user/dashboard"><b>Dashboard:</b></a></li>
<li><a href="/user/settings">Setting:</a></li>
<li><a href="/user/help">Help:</a></li>
</ul>
</div>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="configurationInfo">
            <div style="display: inline-block;" class="buttonBox">
                <!-- <button class="button start_button"> -->
                    <!-- this button will redirect the user to configuration page. -->
                    <!-- <a href="/admin/configuration"><span>Starts</span></a> -->
                    <!-- <div class="liquid">Starts</div> -->
                <!-- </button> -->
            </div>
            <div class="dataUsage" style="background-color: rgb(88, 11, 230);">
                <img src={{ url_for("static", filename="data_usage.png") }} alt="Data Usage" title="Data Usage" style="justify-self: right;" class="dataGraph">
            </div> -->

            <p>

            </p>
        </div>
        
        
        <p class="header">
            <b>Configuration</b>
        </p>
        <p class="text_body">{{ information }}</p>
        <!-- The below parts are just used to show the menu bar function. Can be edeleted -->
        <p style="height: 300px;">1</p>

    </div>
    
</body>
</html>
{% endblock %}
