{% extends "admin_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
            <!-- Each option will direct the user to corresponded page via http link -->
            <li><a href="/user/dashboard">Dashboard:</a></li>
            <li><a href="/user/settings">Setting:</a></li>
            <li><a href="/user/help"><b>Help:</b></a></li>
{% endblock %}

{% block content %}
    <div class="content">
        <p style="text-align: center;">
            Help
        </p>
        <ul style="text-align: left;">
            <li>
                <a href="#connection"><b>How to connect to server: </b></a>
            </li>
            <li>
                <a href="#manageuser"><b>How to add/block a user: </b></a>
            </li>
            <li>
                <a href="#blocked"><b>Why can't I join the server: </b></a>
            </li>
        </ul><hr>
        <div>
            <div style="margin-right: 5%;">
                <h1 id="connection">How to connection to server</h>
                <p class="text_body">The start button located on the admin's dashboard page will directly 
                    start the connection. As a basic user, 
                </p>
                <p class="text_body">
                    you must ask the admin to start the server. 
                    All setting are already set by your admin.
                </p>
                <div class="" style="margin-left: 20%;">
                    <img src="../../static/example_start_button.png">
                </div>
                <p class="text_body">The data usage graph shows your recent use of data
                </p>
                <div class="example" style="width: 75%;">
                    <img src="../../static/data_usage.png">
                </div>
            </div><hr>
            <div>
                <h1 id="blocked">Why can't I join the server: </h1>
                <p class="text_body">If you can't join the server, it's probably the server admin banned you
                    from joining the server. You can ask your admin if he can remove you from being blocked.
                </p>
            </div>
            <br><br>
        </div>
    </div>
    
</body>
</html>
{% endblock %}