{% extends "users_page/user_boilerplate.html" %}
{% block head %}
{% endblock %}


{% block menubar %}
            <!-- Each option will direct the user to corresponded page via http link -->
            <li><a href="/user/dashboard">Dashboard:</a></li>
            <li><a href="/user/settings"><b>Setting:</b></a></li>
            <li><a href="/user/help">Help:</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="configuration" style="background-color: blueviolet;">
            <!-- <button class="button">
                <span>button</span>
                <div class="liquid">Starts</div>
            </button> -->
            <p style="text-align: center;">
                <b><u>Settings</b></u>
            </p>
            {% if error %}
            <p style="color:red" class=error> <strong>Error: </strong> {{ error }}
            {% endif %}
            <!-- <p>{{ information }}</p> -->
            <!-- The below parts are just used to show the menu bar function. Can be edeleted -->
            <p><b><u>Profile:</u></b>
            <br>
            Username: {{ username }}
            <br><br>
            Change Password:<br>
            {{ passwordStatus }}
            <form action="/changepwd" method="POST" style="margin-left:20px">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            Old Password:
            <input type="password" id="pwd" name="pwd"><br>
            New Password:
            <input type="password" id="newpwd" name="newpwd"><br>
            <input type="submit" value="Confirm">
            </form>

            <p>

            </p>
        </div>
        <!-- <div class="dataUsage" style="background-color: rgb(88, 11, 230);"> -->
            <!-- <img src="#" alt="Data Usage" title="Data Usage"> -->
        </div>

    </div>
    
</body>
</html>
{% endblock %}
