<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Change this to the title you want -->
    <title>{{Title}}</title>
    <link rel="stylesheet" href="/templates/setup.css">
</head>
<body style="background-image: url(/templates/site_source/cool-background.png);">
    <!-- If you wanna change the top's background color, change the "background-color" in CSS -->
    <h1>
        <!-- Change our icon "#" here. You must have a picture first. A sample path is "/myImages/myIcon.png" -->
        <img src="#" alt="My icon" class="icon" title="Wirguard Icon">
        <span class="title">{{Username}}</span>
        <br>
        <!-- <span class="title">This black background is used for test</span> -->
    </h1>
    <!-- The brown color is used for test.  -->
    <div style="background-color: rgb(223, 18, 18);" class="menuBar"> 
        <ul class="menuBar">
            <li><a href="localhost:8080/admin_dashboard"><b>Dashboard:</b></a></li>
            <li><a href="localhost:8080/admin_configuration">Configuration:</a></li>
            <li><a href="localhost:8080/admin_settings">Setting:</a></li>
            <li><a href="localhost:8080/admin_add_users">Add users:</a></li>
            <li><a href="localhost:8080/admin_help">Help:</a></li>
        </ul>
        

    </div>
    <div class="content">
        <!-- background-color: blueviolet; -->
        <div class="configuration" style="">
            <div style="display: inline-block;" class="buttonBox">
                <button class="button">
                    <a href="localhost:8080/admin_configuration"><span>button</span></a>
                    <div class="liquid">Starts</div>
                </button>
            </div>
            <div class="dataUsage" style="background-color: rgb(88, 11, 230);">
                <img src="/templates/local_file/data_usage.png" alt="Data Usage" title="Data Usage" style="justify-self: right;" class="dataGraph">
            </div> -->

            <p>

            </p>
        </div>
        
        
        <p style="text-align: center;">
            Configuration
        </p>
        <p class="text_body">{{Server information}}</p>
        <!-- The below parts are just used to show the menu bar function. Can be edeleted -->
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
        <p style="height: 300px;">1</p>
    </div>
    
</body>
</html>