<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login_page_style.css">
</head>
<body style="background-color: rgb(54, 122, 248); margin: 100px;">
    <p class="parent">
        <h1>Welcome to Wireguard Hub</h1>
        <form action="/form-path" method="get">
            <label for="Username">Username:</label>
            <input id="Username" type="text" name=""><br/>
       
            <label for="pwd">Password:</label>
            <input id="pwd" type="password" name=""><br/>
       
            <input type="submit" value="login">
        </form>
        <p style="font-size: 20px;">or</p>
    </p>
</body>
</html>